<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model='num1'>
        <select v-model='opt'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model='num2'>
        <input type="button" value="=" @click='clac'>
        <input type="text" :value='rs'>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            num1:0,
            num2:0,
            opt:'+',
            rs:0,
        },
        methods: {
            clac(){

                // switch (this.opt) { //switch 判断值，执行不同操作
                //     case '+':
                //         this.rs = parseInt(this.num1) + parseInt(this.num2)
                //         break;
                //     case '-':
                //         this.rs = parseInt(this.num1) - parseInt(this.num2)
                //         break;
                //     case '*':
                //         this.rs = parseInt(this.num1) * parseInt(this.num2)
                //         break;
                //     case '/':
                //         this.rs = parseInt(this.num1) / parseInt(this.num2)
                //         break;
                    
                // }
                
                // 危险写法
                
                this.rs = eval('parseInt(this.num1)' + this.opt + 'parseInt(this.num2)')
            }
        }
    })
</script>

</html>